.artists-like-container {
	width: 100%;
	height: 12vmax;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	/* background-color: red; */
	color: var(--text-color);
	/* margin-top: 50px; */
}

.artists-like-container img {
	width: 50%;
	height: 90%;
}

.info-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-left: 20px;
	margin-top: 20px;
}

.question-text {
	font-family: "yt-sans-regular";
	font-size: 28px;
	font-weight: 700;
}

@media screen and (max-width: 480px) {
	.artists-like-container {
		flex-direction: column;
		height: 20vmax;
	}
	.info-container {
		align-items: center;
	}
}
