.explore-nav-buttons {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	gap: 15px;
	margin-top: 30px;
	color: var(--text-color);
	font-size: 25px;
}

.explore-btn {
	/* height: 75%; */
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 12px;
	justify-content: flex-start;
	padding-left: 40px;
	background-color: #252525;
	border-radius: 3px;
}

.btn-icon {
	width: 30px;
	height: 30px;
}

.explore-btn p {
	margin-bottom: 5px;
	font-family: "yt-sans-bold";
}

.explore-btn:hover {
	background-color: #202020;
	transition: all 0.2s ease-in;
}

@media screen and (max-width: 480px) {
	.explore-nav-buttons {
		grid-template-columns: 1fr;
		/* grid-template-rows: 1fr 1fr 1fr; */
	}
}
