.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 4.2rem;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--primary-color);
	/* background-color: red; */
	/* border-bottom: 0.3px solid #292929; */
}

.header-login {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	/* background-color: red; */
}

.header-logo-container {
	display: none;
}

.screencast-icon {
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	.header-logo-container {
		display: flex;
	}

	.header-logo-container {
		display: flex;
	}

	.nav-item-logo {
		display: block;
	}

	.screencast-icon {
		display: none !important;
	}
}
