.banner-container {
	width: 60%;
	/* background-color: aqua; */
	height: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-container img {
	width: 80%;
	height: 85%;
}

.banner-small {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 5%;
	bottom: 15%;
	z-index: 100;
}

.banner-small img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 0.7px solid #1e1e1e;
}

@media screen and (max-width: 480px) {
	.banner-container {
		width: 80%;
	}
}
