.music-queue-section {
	width: 50%;
	height: 90%;
	/* background-color: rgb(223, 134, 0); */
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	border: 0.3px solid #191919;
	padding: 10px;
	border-radius: 8px;
}

.queue-heading {
	width: 100%;
	border-bottom: 1px solid #b1b1b1;
	text-align: center;
	padding: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.music-queue {
	overflow: hidden;
	transition: all 0.7s ease-in-out;
}

.music-queue:hover {
	overflow: auto;
	transition: all 0.7s ease-in-out;
}

/* Scrollbar track */
.music-queue::-webkit-scrollbar {
	background-color: var(
		--primary-color
	); /* Background color of the scrollbar track */
	width: 0.8rem;
	transition: all 0.7s ease-in-out;
}

/* Scrollbar handle */
.music-queue::-webkit-scrollbar-thumb {
	background-color: rgb(78, 78, 78); /* Color of the scrollbar handle */
}

.music-queue::-webkit-scrollbar-track {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.music-queue-section {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
	.queue-heading {
		padding: 10px;
	}
}
