.controller-container {
	width: 100%;
	height: 70px;
	background-color: #212121;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	/* padding: 0 20px; */
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

.player-controls {
	width: 25%;
	/* background-color: purple; */
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.controller-container svg {
	cursor: pointer;
}

.music-info {
	/* background-color: blue; */
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.music-info img {
	width: 60px;
	height: 40px;
	border-radius: 2px;
}

.music-artist-name {
	min-width: 12%;
}

.music-name {
	font-weight: bold;
	margin-bottom: 2px;
}

.music-duration span {
	/* background-color: blueviolet; */
	font-size: 14px;
	color: #f9f9f9;
}

.artist-name {
	font-size: 15px;
	color: #9f9f9f;
}

.music-buttons {
	/* background-color: rgb(222, 122, 0); */
	padding: 0 10px;
	display: flex;
	gap: 12px;
}

.additional-controls {
	/* background-color: rgb(0, 247, 255); */
	padding: 0 15px;
	display: flex;
	gap: 22px;
}

.music-progress {
	width: 100%;
	height: 2.7px;
	background-color: #555555;
	position: absolute;
	top: 0;
}

.progress {
	height: 100%;
	position: absolute;
	background-color: red;
}

@media screen and (max-width: 480px) {
	.controller-container {
		flex-direction: row-reverse;
		padding: 0 15px;
	}

	.player-controls {
		display: flex;
	}

	.music-duration {
		display: none;
	}

	.next-icon {
		display: none !important;
	}

	.music-info {
		gap: 10px;
		width: auto;
	}

	.additional-controls {
		display: none;
	}
	.music-buttons {
		display: none;
	}
}
