.navbar {
    color: white;
    font-size: 1rem;
    display: flex;
    padding-right: 25px;
    padding-top: 10px;
    flex-direction: column;
    gap: 0.3rem;
    border-right: 0.8px solid #2a2a2a;
    /* background-color: red; */
    width: 17.5%;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 98vh;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.logo-img {
    width: 50%;
    height: 100%;
}

.nav-item {
    padding: 0.625rem;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    /* background-color: red; */
    font-weight: 400;
    font-size: 16px;
    border-radius: 0.375rem;
    width: fit-content;
    padding-right: 6rem;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
}

.nav-item-logo {
    padding: 0.625rem;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    min-width: 200px;
    /* background-color: red; */
    font-weight: 400;
    font-size: 16px;
    border-radius: 0.375rem;
    width: fit-content;
    padding-right: 6rem;
    margin-left: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #2a2a2a !important;
    /* background-color: #1e1e1e; */
    transition: all 0.2s ease-in-out;
}

.header-1 {
    display: flex;
    gap: 20px;
}

.nav-item:last-child {
    gap: 0.8rem;
}

.nav-item-collapse {
    display: flex;
    width: fit-content;
    padding: 4px 1rem 4px 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 0.4rem;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    font-size: 12px;
    border-radius: 0.375rem;
    transition: all 0.3s ease-in-out;
}
.nav-item-collapse:hover {
    cursor: pointer;
    background-color: #2a2a2a !important;
    transition: all 0.2s ease-in-out;
}

.active {
    background-color: #1e1e1e;
}
