.topresult-card-container {
	width: 100%;
	height: 350px;
	/* background-color: rebeccapurple; */
	margin-bottom: 40px;
}

.topresult-container {
	width: 100%;
	height: 270px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	border-radius: 12px;
	position: relative;
}

.blur-div {
	width: 100%;
	height: 100%;
	position: absolute;
	background: radial-gradient(circle, transparent, rgb(31, 31, 31));
	border-radius: 11px;
	backdrop-filter: brightness(0.76);
}

.topresult-data {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: relative;
	/* background-color: red; */
	z-index: 10;
	padding: 0 12px;
}

.topresult-container img {
	width: 150px;
	height: 150px;
	border-radius: 7px;
}

.topresult-title {
	font-size: 2.3vmax;
	font-family: "yt-sans-bold";
	font-weight: bold;
}

.topresult-text-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
