.carousel-container {
	width: 100%;
	height: fit-content;
	max-height: 50vmax;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	margin: 40px 0px;
}

.carousel-heading {
	width: 100%;
	height: 20%;
	font-size: 1.6vmax;
	display: flex;
	justify-content: space-between;
	/* background-color: cyan; */
}

.carousel-heading h2 {
	font-family: "yt-sans-bold";
}

.carousel-body {
	overflow: auto;
	display: flex;
	height: 80%;
}

.carousel-body::-webkit-scrollbar {
	display: none;
}

.carousel-nav-icons {
	/* background-color: yellow; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 0 25px; */
}

.btn-left {
	margin-left: 15px;
}

.btn {
	/* background-color: red; */
	font-size: 16px;
	border-radius: 50%;
	padding: 7px 13px;
	border: 0.1px solid #242424;
	margin-right: 10px;
	background-color: var(--primary-color);
}
.btn:hover {
	cursor: pointer;
	background-color: #191919;
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:active {
	scale: 1.1;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 480px) {
	.btn {
		font-size: 9px;
	}
	.btn-play-all {
		font-size: 9px !important;
	}
}
