.smusic-card {
	min-width: 350px;
	height: 50px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: 15px;
	padding: 3px 0 3px 5px;
	font-size: 15px;
	position: relative;
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	cursor: pointer;
}

.count {
	padding: 10px;
	font-size: 16px;
}

.simage {
	position: relative;
	width: 40px;
	height: 40px;
}

.simage img {
	width: 40px;
	height: 40px;
}

.smusic-card:hover .play-icon {
	opacity: 1 !important;
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.smusic-card:hover .simage img {
	opacity: 0.3;
}

.hover-icons {
	display: flex;
	gap: 13px;
	position: absolute;
	right: 0;
	padding: 10px;
	background-color: #000;
	opacity: 0;
}

.smusic-card:hover .hover-icons {
	opacity: 1;
	transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.smusic-name {
	text-align: left;
	/* background-color: red; */
}

.smusic-artist {
	color: #909090;
}

.searchpage-music-details {
	min-width: 80%;
}

.profilecard-music-details {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 60%;
	margin-left: 20px;
	gap: 10px;
	/* background-color: aqua; */
}
