.upgrade-section {
    min-width: 100%;
    min-height: 90vh;
    padding-bottom: 100px;
    margin-right: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom-text {
    padding: 3vmax;
    font-size: 20px;
}
